<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>INICIO</title>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="img/chatbotIcono.ico">
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js" defer=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="INICIO">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
    <%- include('headerBody'); %>
    <!--- CHATBOT INICIO ----------------------------------------------------------------->
    <%- include('chatbot'); %>
    <!--- CHATBOT FIN -------------------------------------------------------------------->
    <div id="changePages" class="visible">
        <%- include('inicio'); %>
    </div>
    <div id="changePage2" class="oculto">
        <%- include('faq'); %>
    </div>
    <div id="changePage3" class="oculto">
        <%- include('blog'); %>
    </div>

    <%- include('flotantes'); %>
    <script class="u-script" type="text/javascript" src="js/main.js" defer=""></script>
    <script src="js/script.js"></script>
</body>
</html>